{% extends "app/base.html" %}
{% block content %}
<style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
    </style>


<table id="customers">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
    </tr>
    
    {% for cand in candidates %}
    
    <tr>
      <td>{{cand.name}}</td>
      <td>{{cand.email}}</td>
      <td>{{cand.company}}</td>
    </tr>
    
    {% endfor %}

  </table>


{% endblock content %}